.container {
  width: 600px;
  height: 450px;
  background: var(--bg);
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}

.imageSide {
  position: relative;
  min-width: 50%;
  min-height: 100%;
}

.textSide {
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textSide h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 5px;
  color: var(--second);
  font-size: 12px;
}

.textSide h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: var(--title);
  line-height: 32px;
  font-size: 36px;
}

.textSide p {
  font-family: "Montserrat";
  font-weight: 500;
  color: var(--second);
  font-size: 14px;
  line-height: 23px;
}

.textSide h2 {
  font-family: "Fraunces";
  font-weight: 700;
  color: var(--main);
  font-size: 32px;
}

.textSide span {
  font-family: "Montserrat";
  font-weight: 500;
  text-decoration-line: line-through;
  color: var(--second);
  font-size: 13px;
}

.textSide div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textSide button {
  width: 100%;
  background: var(--main);
  border-radius: 15px;
  border: none;
  padding: 20px 10px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  font-size: 14px;
}

.textSide button:hover {
  background: var(--hover);
}

.svg {
  margin-right: 10px;
}

@media screen and (max-width: 650px) {
  .container {
    flex-direction: column;
    max-width: 350px;
    height: 680px;
    width: 100%;
  }

  .imageSide {
    min-width: 100%;
    min-height: 50%;
  }
  .textSide {
    height: 100%;
  }
}

@media screen and (max-width: 350px) {
  .container {
    height: 1000px;
  }

}
